@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info {
    width: 40%;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #0000009d;
}

.bg-map {
    height: 70%;
    width: 45%;
    padding: 10px;
    background-color: #834A8D;
    box-shadow: 0px 10px 40px #0000009d;
    border-radius: 10px;
}

#map {
    height: 100%;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}