@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
    background-color: #834A8D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 95%;
}

header img {
    height: 100%;
}

header span {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: larger;
}

header span:hover {
    cursor: default;
}

.content {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
}

.left-user {
    width: 20%;
    box-shadow: 0 0 1em #3b392d;

}

.user {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.user span {
    color: #834A8D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: larger;
}

.user-img {
    width: 80%;
    height: 80%;
    margin-bottom: 15px;
}

.user-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

aside {
    display: flex;
    flex-direction: column;

}

aside a {
    padding: 10px 5px;
    border: 1px solid rgba(71, 71, 71, 0.274);
    writing-mode: horizontal-tb;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-weight: normal;
    font-size: x-large;
}

aside a:hover {
    color: #834A8D;
    box-shadow: inset -5px -5px 15px 0px rgba(58, 57, 57, 0.281);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.top {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-bt {
    width: 100%;
    color: #F2F2F2;
    font-weight: 700;
    padding: 16px;
    border-radius: 8px;
    outline: none;
    background: #a75db4;
    letter-spacing: 2px;
    font-size: 14pt;
}

.sub-bt:hover {
    cursor: pointer;
}

.sw-bt-box {
    margin-bottom: 10px;
    width: 25%;
}

.sw-bt {
    display: flex;
    justify-content: space-around;
}

.sw-bt button {
    cursor: pointer;
    background: transparent;
    font-size: 18px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.pedidos {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.tabela {
    overflow-y: scroll;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    box-shadow: -0.5em 0.5em 1em rgba(51, 51, 51, 0.3);
}

.tabela::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

.tabela::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.356);        /* color of the tracking area */
    border-radius: 0px 10px 10px 0px;       /* roundness of the scroll thumb */
    box-shadow: inset 0.5em 0.5em 1em rgba(51, 51, 51, 0.3);
}

.tabela::-webkit-scrollbar-thumb {
    background-color: #a764d0;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
}

table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

th {
    cursor: default;
    background-color: #494949;
    padding: 20px;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
}

th img {
    width: 60%;
    height: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}

th p {
    font-weight: 400;
    color: #acacac;
}

tr {
    text-align: center;
    background-color: #f1f3f7;
}

tr:hover {
    cursor: pointer;
    background-color:#834A8D;
    color: #f1f3f7;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(even):hover {
    background-color: #834A8D;
    color: #f1f3f7;
}

td {
    font-weight: 500;
    padding: 20px;
}

td span {
    text-transform: capitalize;
}

.d-none {
    display: none;
}

.bb-none {
    border-bottom: none;
}

.c-roxo {
    color: #950cad;
}
