* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
    background-color: #834A8D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 95%;
}

header img {
    height: 100%;
}

header span {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: larger;
}

header span:hover {
    cursor: default;
}

.content {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
}

.left-user {
    width: 20%;
    box-shadow: inset  0 0 1em rgb(59, 57, 45);
    
}

.user {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.user span {
    color: #834A8D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: larger;
}

.user-img {
    width: 80%;
    height: 80%;
    margin-bottom: 15px;
}

.user-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
