* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
    background-color: #834A8D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 95%;
}

header img {
    height: 100%;
}

header span {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: larger;
}
